body{
    background-color: rgb(129, 201, 230);
}
.container  {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(129, 201, 230);
}